<li class="stop-card card d-flex flex-row justify-content-between rounded-5 px-2 py-2 mb-3 bg-light-subtle">

    <!-- STOP NAME -->
  <%= link_to stop_path(stop) do %>
    <div class="stop-info flex-grow-1">
      <h5 class="title" ><%= stop.name %></h5>
      <p><%= stop.formatted_start %> - <%= stop.formatted_end %></p>
    </div>
  <% end %>

  <!-- ICONS -->
  <div id="activity-icons" class="d-flex">
    <!-- EDIT ICON -->
    <%= link_to edit_stop_path(stop) do %>
      <div class="button">
          <i class="fa-regular fa-pen-to-square"></i>
      </div>
    <% end %>

    <!-- TRASH ICON -->
    <%= link_to stop_path(stop), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <div class="button ms-2">
          <i class="fa-solid fa-trash"></i>
      </div>
    <% end %>
  </div>
</li>
