<%= turbo_frame_tag "stop_card_#{stop.id}" do %>
<li class="stop-card card d-flex flex-row justify-content-center align-items-center rounded-3 px-3 py-2 mb-3">
    <%= link_to stop_path(stop), class: "text-decoration-none w-100", data: {turbo_frame: "_top"} do %>
      <!-- STOP INFO -->
      <div class="stop-body">
        <div class="stop-title">
          <h5 class="title mb-0" ><%= stop.name %></h5>
        </div>

        <div class="stop-dates">
          <p class="mb-0"><%= stop.formatted_start %> - <%= stop.formatted_end %></p>
        </div>

      </div>
    <% end %>

    <%= link_to edit_stop_path(stop), class: "text-decoration-none", data: {turbo_frame: "stop_card_#{stop.id}"} do %>
      <div id="edit">
        <i id="edit-icon" class="fa-regular fa-pen-to-square"></i>
      </div>
    <% end %>

    <%= link_to stop_path(stop), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
      <div id="trash">
        <i id="trash-icon" class="fa-regular fa-trash-alt"></i>
      </div>
    <% end %>
</li>
<% end %>
