
<div class="trips-grid">

  <% @trips.each do |trip| %>
  <%= link_to trip_path(trip), class:"link" do %>
      <div class="card-index">
          <%# <div class="card-index-img-top" >  <img src="https://149990825.v2.pressablecdn.com/wp-content/uploads/2023/09/Seoul1.jpg" /></div> %>
        <div class="card-index-img-top"> <%= cl_image_tag trip.photo.key, crop: :fill %> </div>
            <div class="card-index-body">
              <h5 class="card-index-title" ><%= trip.name  %></h5>
              <p class="card-index-text"> <%= trip.start_date.strftime("%d-%m-%Y") %> - <%= trip.formatted_end %></p>
          </div>
       </div>

<% end %>

  <% end %>
  </div>
  <div id="new-trip" class="card-link px-1">
          <%= link_to "New trip", new_trip_path(@trip), class: "btn btn-primary"%>
          </div>
