
<h2><%= @trip.name %></h2>
<div class="stops-grid">
<div class="stop-list">
 <% @trip.stops.each do |stop| %>
      <div class="card">
       <div class="card-img-top" >  <img src="#" /></div>
        <div class="card-body">
          <h5 class="card-title" ><%= stop.name  %></h5>
          <p class = "d-flex justify-content-center" > <%= stop.start_date.strftime("%d-%m-%Y") %> - <%= stop.end_date.strftime("%d-%m-%Y") %></p>
       <div class="d-grid gap-2 col-6 mx-auto"><%= link_to "Go to stop", stop_path(stop) , class:"btn-list btn-primary"%></div>
    </div>
    </div>
  <% end %>
  </div>
  <div>Placeholder</div>
   </div>
</div>
