<div class="pages-background">
  <div id="stop-container">

    <!-- HEADER -->
    <div id="stop-header">
      <div id="stop-text">
        <div id="stop-headline">
          <h1><%= @trip.name %></h1>
        </div>
        <div id="stop-dates">
          <p><%= @trip.start_date.strftime("%d-%m-%Y") %> - <%= @trip.end_date.strftime("%d-%m-%Y") %></p>
        </div>
      </div>
    </div>

    <!-- BODY -->
    <div id="trip-body">
      <div id="stops-grid">

      <!-- LEFT BOX -->
      <div id="stop-list">
        <ul id="stops-list" class="list-unstyled">
          <% @trip.stops.each do |stop|%>
            <%= render "stop", stop: stop %>
          <% end %>
        </ul>
      </div>

      <!-- RIGHT BOX -->

        <!-- MAP -->

        <div style="width: 100%; height: 450px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>


        <%# <!-- CALENDAR -->
        <div id="stop-calendar">
          Stop Calendar
        </div>

        <!-- STOP SHOW -->
        <div id="stop-show">
          Stop Show
        </div> %>
      </div>
    </div>
  </div>
</div>

