
<div id="trip-container" class="m-3 p-3 rounded-5">

  <!-- HEADER -->
  <div id="trip-header" class="card px-5 py-3 rounded-5">
    <div id="trip-text">
      <div id="trip-headline">
        <h1><%= @trip.name %></h1>
      </div>
      <div id="trip-dates">
        <p><%= @trip.start_date.strftime("%d-%m-%Y") %> - <%= @trip.end_date.strftime("%d-%m-%Y") %></p>
      </div>
      <div id="trip-link-back">
        <%= link_to trips_path do %>
          <i class="fa-regular fa-backward"></i>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Delete', trip_path(@trip), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

  <!-- LEFT BOX -->
  <div id="trip-body-left" class="card d-flex flex-fill align-items-center rounded-5">
    <ul id="stops-list" class="list-unstyled p-3 w-100">
      <% @trip.stops.each do |stop|%>
        <%= render "stop", stop: stop %>
      <% end %>
    </ul>
    <div id="add-stop">
      <i class="fa-regular fa-circle-plus"></i>
    </div>
  </div>

  <!-- RIGHT BOX -->
  <div id="trip-body-right" class="card d-flex flex-fill align-items-center rounded-5">

    <!-- MAP -->
    <div id="trip-map" style="width: 100%; height: 450px;" class="d-flex w-100 h-50 rounded-5"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <!-- CALENDAR -->
    <div id="stop-calendar" class="w-100 h-50 p-3 rounded-5">
      <div id="calendar-container" class="card w-100 h-100 rounded-5">
      </div>
    </div>

  </div>
</div>
