<%= turbo_frame_tag "stop_card_#{stop.id}" do %>
<div id="stop-form" class="d-flex justify-content-center mb-3 p-3">
  <%= simple_form_for @stop do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs" data-controller="datepicker">
      <div class="mb-3" id="name">
        <%= f.input :name,
        label: "Stop name",
        class: "form-control",
        placeholder: ""%>
      </div>

      <div class="mb-3" id="start">
        <%= f.input :start_date, as: :string,
          input_html: {
            data: {
              datepicker_target: "start",
              action: "change->datepicker#setDate"
            }
          } %>
      </div>

      <div class="mb-3" id="end">
        <%= f.input :end_date, as: :string,
          input_html: {
            data: {
              datepicker_target: "end"
            }
          } %>
      </div>

      <div class="mb-3" id="address">
        <%= f.input :address,
        label: "Address",
        class: "form-control",
        placeholder: ""%>
      </div>

      <div class="mb-3" id="description">
          <%= f.input :description,
          label: "Description",
          class: "form-control",
          placeholder: ""%>
      </div>
    </div>

    <div id="stop-form-edit-links" class="d-flex flex-row justify-content-between">
      <div class="mb-3">
        <%= link_to "Close", trip_path(@trip),
            data: {turbo_frame: "stop_card_#{stop.id}"},
            class: "btn btn-secondary", id: "button-form" %>
      </div>

      <div class="mb-3">
        <%= f.button :submit, class: "btn btn-primary",
              data: {turbo_frame: "stop_card_#{stop.id}"} %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
