<div id="stop-container">
  <!-- HEADER -->
<div id="stop-header">
  <div id="stop-header-title">
    <p><%= @stop.name %> </p>
  </div>
  <div id="stop-description">
    <p>It's a good city that it's good to visit.
    It has big streets, small streets, shopping streets and restaurants.
    It was hot when I went there.
    It was my birthday.
    Nom Nom Nom.</p>
  </div>
</div>

  <!-- CONTENT -->
<div id="activity-container" class="p-3">
  <div id="activity-body-left">

    <ul id="activities-list" class="list-unstyled p-3 d-flex flex-column w-100 ">

      <% @activities.each do |activity|%>
        <%= turbo_frame_tag "activity_card_#{activity.id}" do %>
          <%= turbo_frame_tag "activity_show_#{activity.id}" do %>
            <%= render "activity", activity: activity %>
          <% end %>
        <% end %>
      <% end %>


    </ul>
    <%= turbo_frame_tag :new_activity do %>
      <%= link_to "Add an Activity", new_stop_activity_path(@stop) %>
    <% end %>
  </div>

  <!-- RIGHT BOX -->
    <!-- MAP -->

    <!-- CALENDAR -->

  </div>

    <div id="stops-map" style="width: 100%; height:100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
