<%= turbo_frame_tag :checklist_show, class: "" do%>

  <div id="list-header" class="d-flex justify-content-center">
    <div id="list-name" class="d-flex">
      <!-- IF LIST IS A TEMPLATE -->
      <% if list.respond_to?(:trip_id) %>
        <%= turbo_frame_tag :edit_checklist do %>
          <h2 class="text-center">
            <%= list.name %>
          </h2>
        <div id="checklist-buttons" class="px-5 text-center">
          <%= link_to edit_checklist_path(list, trip: @trip),
              class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
              style: "font-size: 1rem;", data: {turbo_frame: :edit_checklist} do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <%end%>
          <%= link_to checklist_path(list, trip: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
              style: "font-size: 1rem;" do %>
            <i class="fa-solid fa-trash"></i>
          <%end%>
        </div>
        <%end%>
      <% elsif list.respond_to?(:user_id) %>
        <%= turbo_frame_tag :edit_template do %>
          <h2 class="text-center">
            <%= list.name %>
          </h2>
          <div id="template-buttons" class="px-3 text-center">
            <%= link_to use_template_checklist_item_path(list, trip_id: @trip),
                data: {turbo_method: :patch, turbo_frame: :checklist_show, turbo_confirm: "Dow you want to copy all items from #{list.name} to your checklist?"},
                style: "font-size: 1rem;",
                class: "link-underline link-underline-opacity-0" do %>
              <i class="fa-regular fa-copy"></i>
            <% end %>
            <%= link_to edit_checklist_template_path(list, trip: @trip),
                class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
                style: "font-size: 1rem;", data: {turbo_frame: :edit_template} do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <%end%>
            <%= link_to checklist_template_path(list, trip: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
                style: "font-size: 1rem;" do %>
              <i class="fa-solid fa-trash"></i>
            <%end%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- ADD BUTTON -->
  <% if list.respond_to?(:trip_id) %>
    <div id="add-checklist-item" class="px-5 text-center">
      <%= turbo_frame_tag "new_#{list.name}_item" do %>
        <%= link_to new_checklist_item_path(list, trip: @trip),
            class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
            style: "font-size: 2rem;",
            data: {turbo_frame: :new_item} do %>
          <i class="fa-regular fa-circle-plus"></i>
        <%end%>
      <% end %>
    </div>
  <% elsif list.respond_to?(:user_id) %>
    <div id="add-template-item" class="px-3 text-center">
      <%= turbo_frame_tag "new_#{list.name}_item" do %>
        <%= link_to new_checklist_template_item_path(list, trip: @trip),
            class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
            style: "font-size: 2rem;",
            data: {turbo_frame: :new_item} do %>
          <i class="fa-regular fa-circle-plus"></i>
        <%end%>
      <%end%>
    </div>
  <% end %>

  <!-- LIST OF ITEMS -->
  <div id="checklist-items" class="h-75 px-3">
    <% list.items.each do |item| %>

      <% type = item.checklistable_type(list) %>

    <!-- LIST ELEMENT -->
    <li id="item_<%= type %>_<%= item.id %>" class="item-card card d-flex flex-row justify-content-between rounded-pill px-3 py-1 mb-1 bg-light-subtle">


        <!-- CHECKBOX -->
        <% checklist_item = ChecklistItem.find_by(item: item, checklistable_id: list.id, checklistable_type: type) %>
        <%= turbo_frame_tag "checklist_item_checked_#{checklist_item.id}" do%>
          <div class="checked me-2">
            <%= link_to checked_checklist_item_path(checklist_item, trip_id: @trip.id), data: {turbo_method: :patch} do %>
              <% if checklist_item.checked %>
                <i class="fa-regular fa-circle-check"></i>
              <% else %>
                <i class="fa-regular fa-circle"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <!-- ITEM NAME -->
      <div class="item-name text-center">
        <%= item.name %>
      </div>

      <!-- TRASH ICON -->
      <%= link_to item_path(item, checklistable_id: list, checklistable_type: type, trip_id: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "items" } do %>
        <div class="button ms-2">
            <i class="fa-solid fa-trash"></i>
        </div>
      <% end %>

    </li>
    <% end %>
  </div>
<% end %>
