<%= turbo_frame_tag :checklist_show, class: "" do %>

  <div id="list-header" class="d-flex justify-content-center">
    <div id="list-name" class="d-flex">
      <!-- IF LIST IS A CHECKLIST -->
      <% if list.respond_to?(:trip_id) %>
        <%= turbo_frame_tag :edit_checklist, class: "d-flex" do %>
          <h2 class="text-center">
            <%= list.name %>
          </h2>
          <div class="btn-group dropstart align-items-center ms-3 pb-2">
            <i class="fa-solid fa-bars" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.5rem;"></i>
            <ul class="dropdown-menu dropdown-menu-dark rounded-3 ">
              <li>
                <%= link_to make_template_checklist_item_path(list, trip_id: @trip),
                    data: {turbo_method: :patch, turbo_confirm: "Dow you want to create a template from #{list.name} checklist?"},
                    style: "font-size: 1rem;",
                    class: "dropdown-item d-flex justify-content-between align-items-center" do %>
                  make template
                  <i class="fa-regular fa-copy"></i>
                <% end %>
              </li>
                <%= link_to edit_checklist_path(list, trip: @trip),
                    class: "dropdown-item d-flex justify-content-between align-items-center",
                    style: "font-size: 1rem;", data: {turbo_frame: :edit_checklist} do %>
                  edit name
                  <i class="fa-regular fa-pen-to-square"></i>
                <%end%>
              <li>
                <%= link_to checklist_path(list, trip: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "dropdown-item d-flex justify-content-between align-items-center",
                    style: "font-size: 1rem;" do %>
                  delete
                  <i class="fa-solid fa-trash"></i>
                <%end%>
              </li>
              <li>
              </li>
            </ul>
          </div>
        <%end%>
        <!-- <div id="checklist-buttons" class="px-5 text-center"> -->
        <!-- </div> -->
      <!-- IF LIST IS A TEMPLATE -->
      <% elsif list.respond_to?(:user_id) %>
        <%= turbo_frame_tag :edit_template, class: "d-flex" do %>
          <h2 class="text-center">
            <%= list.name %>
          </h2>
          <div class="btn-group dropstart align-items-center ms-3 pb-2">
            <i class="fa-solid fa-bars" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.5rem;"></i>
            <ul class="dropdown-menu dropdown-menu-dark rounded-3 ">
              <li>
                <%= link_to use_template_checklist_item_path(list, trip_id: @trip),
                data: {turbo_method: :patch, turbo_confirm: "Dow you want to create a checklist from #{list.name} template?"},
                style: "font-size: 1rem;",
                class: "dropdown-item d-flex justify-content-between align-items-center" do %>
                  use template
                  <i class="fa-regular fa-copy"></i>
                <% end %>
              </li>
                <%= link_to edit_checklist_template_path(list, trip: @trip),
                class: "dropdown-item d-flex justify-content-between align-items-center",
                style: "font-size: 1rem;", data: {turbo_frame: :edit_template} do %>
                  edit name
                  <i class="fa-regular fa-pen-to-square"></i>
                <%end%>
              <li>
                <%= link_to checklist_template_path(list, trip: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "dropdown-item d-flex justify-content-between align-items-center",
                style: "font-size: 1rem;" do %>
                  delete
                  <i class="fa-solid fa-trash"></i>
                <%end%>
              </li>
              <li>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- ADD BUTTON -->
  <% if list.respond_to?(:trip_id) %>
    <div id="add-checklist-item" class="px-5 mx-5 text-center">
      <%= turbo_frame_tag "new_#{list.name}_item" do %>
        <%= link_to new_checklist_item_path(list, trip: @trip),
            class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
            style: "font-size: 1.5rem;",
            data: {turbo_frame: :new_item} do %>
           <i class="fa-solid fa-plus"></i>
        <%end%>
      <% end %>
    </div>
  <% elsif list.respond_to?(:user_id) %>
    <div id="add-template-item" class="px-5 mx-5 text-center">
      <%= turbo_frame_tag "new_#{list.name}_item" do %>
        <%= link_to new_checklist_template_item_path(list, trip: @trip),
            class: "link-underline link-underline-opacity-0 icon-link icon-link-hover my-2",
            style: "font-size: 1.5rem;",
            data: {turbo_frame: :new_item} do %>
           <i class="fa-solid fa-plus"></i>
        <%end%>
      <%end%>
    </div>
  <% end %>

  <!-- LIST OF ITEMS -->
  <div id="checklist-items" class="h-75 px-5">
    <%= turbo_frame_tag :add_item, class: "" do %>

    <% list.separate_checked_and_unchecked_items.first.each do |item| %>

      <% type = item.checklistable_type(list) %>

    <li id="item_<%= type %>_<%= item.id %>" class="item-card d-flex flex-row justify-content-between rounded-3 px-3 py-1 mx-5 mb-1">


        <!-- CHECKBOX -->
        <% checklist_item = ChecklistItem.find_by(item: item, checklistable_id: list.id, checklistable_type: type) %>
        <%= turbo_frame_tag "checklist_item_checked_#{checklist_item.id}" do%>
          <div class="checked me-2">
            <%= link_to checked_checklist_item_path(checklist_item, trip_id: @trip.id), data: {turbo_method: :patch} do %>
              <% if checklist_item.checked %>
                <i class="fa-regular fa-circle-check"></i>
              <% else %>
                <i class="fa-regular fa-circle"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <!-- ITEM NAME -->
      <div class="item-name text-center">
        <%= item.name %>
      </div>

      <!-- TRASH ICON -->
      <%= link_to item_path(item, checklistable_id: list, checklistable_type: type, trip_id: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "items" } do %>
        <div class="button ms-2">
            <i class="fa-solid fa-trash"></i>
        </div>
      <% end %>

    </li>
    <% end %>

    <% list.separate_checked_and_unchecked_items.second.each do |item| %>

      <% type = item.checklistable_type(list) %>

    <li id="item_<%= type %>_<%= item.id %>" class="item-card d-flex flex-row justify-content-between rounded-3 px-3 py-1 mx-5 mb-1">


        <!-- CHECKBOX -->
        <% checklist_item = ChecklistItem.find_by(item: item, checklistable_id: list.id, checklistable_type: type) %>
        <%= turbo_frame_tag "checklist_item_checked_#{checklist_item.id}" do%>
          <div class="checked me-2">
            <%= link_to checked_checklist_item_path(checklist_item, trip_id: @trip.id), data: {turbo_method: :patch} do %>
              <% if checklist_item.checked %>
                <i class="fa-regular fa-circle-check"></i>
              <% else %>
                <i class="fa-regular fa-circle"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <!-- ITEM NAME -->
      <div class="item-name text-center">
        <%= item.name %>
      </div>

      <!-- TRASH ICON -->
      <%= link_to item_path(item, checklistable_id: list, checklistable_type: type, trip_id: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "items" } do %>
        <div class="button ms-2">
            <i class="fa-solid fa-trash"></i>
        </div>
      <% end %>

    </li>
    <% end %>

    <% end %>
  </div>
<% end %>
