<div id="trip-header-navbar" class="navbar p-0 z-3 d-flex justify-content-between">
  <div id="trip-text" class="d-flex pt-3 pb-0 me-3">
    <%= link_to trips_path, id: "app-name", class: "text-decoration-none" do %>
      <p>TABI</p>
    <% end %>
    <% if action_name == "show" && controller_name == "trips" || action_name == "index" && controller_name == "checklists" || action_name == "index" && controller_name == "diary_entries" %>
      <%= link_to trip_path(@trip), class: "d-flex text-decoration-none ms-5" do %>
        <i class="fa-solid fa-plane me-2 pt-1"></i>
        <p><%= @trip.name %></p>
      <% end %>
    <% end %>
    <% if action_name == "show" && controller_name == "stops" %>
      <%= link_to trip_path(@trip), class: "d-flex text-decoration-none ms-5" do %>
        <i class="fa-solid fa-plane me-2 pt-1"></i>
        <p><%= @trip.name %></p>
      <% end %>
      <p></p>
      <%= link_to stop_path(@stop), class: "d-flex text-decoration-none ms-3" do %>
        <i class="fa-solid fa-location-dot me-2 pt-1"></i>
        <p><%= @stop.name %></p>
      <% end %>
    <% end %>
  </div>
    <%= render "shared/menu"%>
  </div>
</div>
