<h1>Diary Entries</h1>

<div class="flexed-page">

    <button><%= link_to "Add Diary Entry", new_trip_diary_entry_path(@trip) %></button>

    <!-- Diary Entry -->
    <div class="diary-entry-container">
      <%= turbo_frame_tag :diary_entry_show do %>
        <h3><%= @diary_entry.headline %></h3>
        <p><%= @diary_entry.date %></p>
        <p><%= @diary_entry.content %></p>
      <% end %>
    </div>


  <!-- Calendar -->
  <div class="calendar-container">
    <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events|%>
      <%= date %>

      <% events.each do |event| %>
        <div>
          <%= event.name %>
        </div>
      <% end %>
    <%end%>
  </div>

</div>
