<h1>Diary Entries</h1>

<div class="flexed-page">

    <button><%= link_to "Add Diary Entry", new_trip_diary_entry_path(@trip) %></button>

    <!-- Diary Entry -->
    <div class="diary-entry-container">
      <%= turbo_frame_tag :diary_entry_show do %>
        <h3><%= @show_diary_entry.headline %></h3>
        <p><%= @show_diary_entry.date %></p>
        <p><%= @show_diary_entry.content %></p>
      <%end%>
    </div>

  <!-- Calendar -->
  <div class="calendar-container">
    <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events|%>
      <%= date %>

      <% events.each do |event| %>
        <% if event.is_a?(Stop)  %>
          <div class="bg-danger">
            <%= event.name %>
          </div>
          <% else %>
          <div class="bg-info p-1 rounded-circle">
            <%= event.name %>
          </div>
        <% end %>
      <% end %>
    <%end%>
  </div>

</div>
