<h1>Welcome to the diaries</h1>

<div class="flexed-page">
<!-- Diary Entry -->

  <div class="diary_entry_container">
    <%= turbo_frame_tag :diary_entry_show do %>
      <h3><%= @diary_entry.headline %></h3>
      <p><%= @diary_entry.content %></p>
      <p><%= @diary_entry.date %></p>
    <% end %>
  </div>

  <!-- Calendar -->

  <%= month_calendar do |date|%>
    <%= date%>
  <%end%>
  
</div>
