<%= turbo_frame_tag :calendar_show do %>

  <H1>Diary</H1>
  </br>
  <h2><%= @diary_entry.headline %></h2>
  <h4><%= @diary_entry.date %></h4>
  </br>
  <p><%= @diary_entry.content %></p>
  <%= link_to "fuck", diary_entry_path(@diary_entry), data: { turbo_method: :delete, turbo_confirm: "Are you sure", turbo_frame: '_top' } %>

<% end %>


<%# put the calendar gem here %>
