<%= turbo_frame_tag :add_item, class: "" do %>

<% type = item.checklistable_type(list) %>

<!-- LIST ELEMENT -->
<li id="item_<%= type %>_<%= item.id %>" class="item-card card d-flex flex-row justify-content-between rounded-pill px-3 py-1 mb-1 bg-light-subtle">


    <!-- CHECKBOX -->
    <% checklist_item = ChecklistItem.find_by(item: item, checklistable_id: list.id, checklistable_type: type) %>
    <%= turbo_frame_tag "checklist_item_checked_#{checklist_item.id}" do%>
      <div class="checked me-2">
        <%= link_to checked_checklist_item_path(checklist_item, trip_id: @trip.id), data: {turbo_method: :patch} do %>
          <% if checklist_item.checked %>
            <i class="fa-regular fa-circle-check"></i>
          <% else %>
            <i class="fa-regular fa-circle"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <!-- ITEM NAME -->
  <div class="item-name text-center">
    <%= item.name %>
  </div>

  <!-- TRASH ICON -->
  <%= link_to item_path(item, checklistable_id: list, checklistable_type: type, trip_id: @trip), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "items" } do %>
    <div class="button ms-2">
        <i class="fa-solid fa-trash"></i>
    </div>
  <% end %>

</li>

<% end %>
