<!--- NAVBAR --->
<div id="checklists-header-navbar" class="navbar d-flex justify-content-between">
  <div id="checklists-text" class="me-3">
    <div id="name">
      <p>TABI</p>
    </div>
  </div>
  <div class="icons" >
    <div class="d-flex justify-content-center">
      <div id="link-home">
        <%= link_to trips_path do %>
          <i class="fa-solid fa-house" style="font-size: 2rem;"></i>
        <% end %>
      </div>
      <div class="menu d-flex align-content-start">
        <%= render "shared/menu"%>
      </div>
    </div>
  </div>
</div>

  <!-- CONTENT -->
<div id="checklists-index-container" class="">
  <!-- LEFT BOX -->
  <div id="checklists-header" class="">
    <div id="checklists-header-title">
      <p> Checklists </p>
    </div>
    <div id="new-checklist-buttons">
      <%= link_to "New Checklist", new_trip_checklist_path(trip_id: @trip), class: "btn btn-secondary text-decoration-none" %>
      <%= link_to "New Template", new_checklist_template_path(trip_id: @trip), class: "btn btn-secondary text-decoration-none" %>
    </div>
  </div>

  <!-- MIDDLE BOX -->
  <%= render partial: "checklist_container", checklists: @checklists, trip: @trip %>

  <!-- RIGHT BOX -->
  <%= render partial: "checklist_templates/template_container", checklist_templates: @checklist_templates, trip: @trip %>

</div>
