<!--- NAVBAR --->
<div id="checklists-header-navbar" class="navbar d-flex justify-content-between">
  <div id="checklists-text" class="me-3">
    <div id="name">
      <p>TABI</p>
    </div>
  </div>
  <div class="icons" >
    <div class="d-flex justify-content-center">
      <div id="link-home">
        <%= link_to trips_path do %>
          <i class="fa-solid fa-house" style="font-size: 2rem;"></i>
        <% end %>
      </div>
      <div class="menu d-flex align-content-start">
        <%= render "shared/menu"%>
      </div>
    </div>
  </div>
</div>

  <!-- CONTENT -->
<div id="checklists-index-container">
  <!-- LEFT BOX -->
  <div id="checklists-header" class="">
    <div id="checklists-header-title">
      <p> Checklists </p>
    </div>
  </div>

  <!-- MIDDLE BOX -->
  <div id="checklists-container" class="">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Checklists
      </button>
      <ul class="dropdown-menu">
        <% if @checklists.present? %>
          <% @checklists.each do |checklist| %>
            <li><%= link_to checklist.name, checklist_path(checklist, trip_id: @trip), class: "text-decoration-none", data: { turbo_frame: :checklist_show } %></li>
          <%end%>
        <% end %>
      </ul>
    </div>
    <div id="checklist-content" class="">
      <%= turbo_frame_tag :checklist_show do%>
        <% if Checklist.first.present? %>
        <%= render partial: "shared/list", locals: { list: Checklist.first, trip: @trip } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- RIGHT BOX -->
  <div id="templates-container" class="">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Templates
      </button>
      <ul class="dropdown-menu">
        <% if @checklist_templates.present? %>
          <% @checklist_templates.each do |checklist_template| %>
            <li><%= link_to checklist_template.name, checklist_template_path(checklist_template, trip_id: @trip), class: "text-decoration-none", data: { turbo_frame: :checklist_template_show } %></li>
          <%end%>
        <% end %>
      </ul>
    </div>
    <div id="template-content" class="h-100 d-inline-block">
      <%= turbo_frame_tag :checklist_template_show do%>
        <% if ChecklistTemplate.first.present? %>
          <%= render partial: "shared/list", locals: { list: ChecklistTemplate.first, trip: @trip } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
