<div id="activity-form" class="card d-flex flex-fill align-items-center p-3 rounded-5">

  <% if action_name == "new" %>

    <%# 1st form is for the NEW-Activities-Form %>

    <%= simple_form_for [stop, activity] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :category, as: :select, collection: ['Food', 'Drinks', 'Art', 'Nature', 'Memorial', 'Views'], prompt: "pick category" %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :favorite %>

    <div id="activity-form-new-links" class="d-flex flex-row justify-content-between">
      <div class="mb-3">
        <%= f.submit "submit", class: "btn btn-primary" %>
      </div>

      <div class="mb-3">
        <%= link_to "go back", stop_path(stop), class: "btn btn-secondary", id: "button-form" %>
      </div>
    </div>

    <% end %>

  <% else %>

    <%# 2nd form is form the EDIT-Activities-Form %>

    <%= simple_form_for @activity do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :favorite %>

    <div id="activity-form-edit-links" class="d-flex flex-row justify-content-between">
      <div class="mb-3">
        <%= link_to "go back", stop_path(@activity.stop), class: "btn btn-secondary", id: "button-form" %>
      </div>

      <div class="mb-3">
        <%= f.submit "submit", class: "btn btn-primary" %>
      </div>
    </div>

    <% end %>
  <% end %>
</div>
